In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
players = len(purchase_data['SN'].unique())

players_df = pd.DataFrame({"Total # of Players": [len(purchase_data.SN.unique())]})
players_df

   Total # of Players
0                 576

In [4]:
#Unique items
unique_items = len(purchase_data['Item ID'].unique())

#Aaverage price
avg_price= purchase_data['Price'].mean()

#Number of purchases
total_purchases= len(purchase_data['Purchase ID'])

#Total revenue
total_revenue= sum(purchase_data['Price'])

#Daatframe
summary_df = pd.DataFrame({
    'Number of Unique Items': unique_items,
    'Average Price': '${:.2f}'.format(avg_price),
    'Total Purchases': total_purchases,
    'Total Revenue': '${:.2f}'.format(total_revenue)
},index=[0])
summary_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780      $2379.77

In [5]:
#Unique SN 
gen = purchase_data.drop_duplicates('SN')

#Count Gender
count_gen = gen['Gender'].value_counts()

#Percentage
percent_gen = (gen['Gender'].value_counts()/players)*100

#Dataframe
gen_df = pd.DataFrame({
    'Count': count_gen,
    'Percent of Total Players': percent_gen.map('{:.2f}%'.format)
})
gen_df

                       Count Percent of Total Players
Male                     484                   84.03%
Female                    81                   14.06%
Other / Non-Disclosed     11                    1.91%

In [6]:
gen_purchase = purchase_data.groupby('Gender')
gender_purchase_count = gen_purchase['Gender'].count()
gender_purchase_count #test works

#average purchase pirce
gender_purchase_mean = gen_purchase['Price'].mean()
gender_purchase_mean #test works

#total revenue
gender_purchase_total = gen_purchase['Price'].sum()
gender_purchase_total #test works

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
gender_purchase_data_df = pd.DataFrame({
    'Purchase Count': gender_purchase_count,
    'Avg Purchase Price': gender_purchase_mean.map('${:,.2f}'.format),
    'Total Revenue': gender_purchase_total.map('${:,.2f}'.format),
    'Avg Total Purchase per Person': (gender_purchase_total/count_gen).map('${:,.2f}'.format),
})
gender_purchase_data_df

,Purchase Count,Avg Purchase Price,Total Revenue,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]

age_range = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [ ]:
#categorize the existing players using the age bins
purchase_data['age_range'] =  pd.cut(purchase_data['Age'], bins, labels=age_range)

In [ ]:

#groupby
range_age = purchase_data.groupby('age_range').SN.nunique()

#create dataframe to show total count and percentage of total players for each group
age_df = pd.DataFrame({
    'Total Count': range_age,
    'Percentage of Players': (range_age / purchase_data.SN.nunique() * 100).map("{:.2f}".format).map("{}%".format)
})
age_df

In [ ]:
total_count_age = purchase_age["SN"].nunique()

purchase_age = age_grouped["Purchase ID"].count()

In [ ]:
#Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Naming Index

age_demographics.index.name = "Age Group"

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})




------------
#isolate columns needed for chunk in two frames
purchase_age = purchase_data[['age_group', 'Purchase ID']]
purchase_val = purchase_data[['age_group', 'Price']]

#totals purchase by age bin
total_purchase_age = purchase_age.groupby('age_group').count() 


#Dollar values of purchase by age
gen_purchase_total = purchase_val.groupby('age_group').sum()


#gender_counts = gender['Gender'].value_counts()

#display summary df
purchasing_age_analysis = pd.DataFrame({
    'Purchase Count': total_purchase_age['Purchase ID'],
    'Average Purchase Price': (total_purchase_val['Price'] / total_purchase_age['Purchase ID']).map("${:.2f}".format),
    'Total Purchase Value': total_purchase_val['Price'].map("${:.2f}".format),
   #Avg Total Purchase per Person':(total_purchase_val['Price']/ gender_counts).map("${:.2f}".format),
})
purchasing_age_analysis